

$maicolor:red;
$secondcolor:#fff;

body {
    // background-color: $maicolor;
    background: url('../img/oma_IMG.jpg') center center no-repeat $maicolor;

    p {
        color: $secondcolor;
        font-size:40px;
        font-weight:600
       
    }
}

.omar{
  background:red;
}
